header {
	position: sticky;
	top: 0px;
	width: 100%;
	height: 100px;
	padding: 22px 100px;
	background-color: #FFF;
	display: flex;
	justify-content: space-between;
	z-index: 10;
}
header ul {
	display: flex;
	justify-content: space-between;
	column-gap: 50px;
}
header .logo, nav {
	display: flex;
	align-items: center;
}
header button {
	padding: 13px 50px;
	background-color: #FF5403;
	border: none;
	cursor: pointer;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
}
.banner-container {
	width: 100%;
	height: 729px;
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 282px;
}
.banner-text {
	width: 687px;
	height: 261px;
	margin: auto;
	text-align: center;
	cursor: default;
}
.banner-text h1 {
	color: #FFF;
	font-family: Inter;
	font-size: 96px;
	font-weight: 700;
}
.banner-text p {
	color: #FFF;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 50px;
}
.banner-text button {
	padding: 13px 50px;
	background-color: #FF5403;
	border: none;
	cursor: pointer;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
}
.discover-top-places {
	width: 1312px;
	height: 1182px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	column-gap: 75px;
}
.sub-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px;
	cursor: default;
}
.sub-title h1 {
	color: #041562;
	font-family: Inter;
	font-size: 36px;
	font-weight: 600;
}
.sub-title p {
	color: #626262;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
}
.img-box {
	width: 100%;
	height: 880px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.row-img-box-1 {
	display: flex;
	flex-direction: row;
	gap: 50px;
}
.img-style {
	display: flex;
	position: relative;
	width: 100%;
	height: 415px;
	align-items: center;
	justify-content: center;
}
.img-text {
	position: absolute;
	color: #FFF;
	font-size: 100px;
	cursor: default;
}
.row-img-box-2 {
	display: flex;
	flex-direction: row;
	gap: 50px;
}
.discover-top-places button {
	padding: 13px 50px;
	border: none;
	background-color: #FF5403;
	cursor: pointer;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
}
.top-hotel-restorant {
	margin: 124px auto;
	width: 1312px;
	height: 710px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.all-card {
	width: 100%;
	height: 549px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.card-hotel {
	width: 404px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
}
.detail-hotel-card {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 25px;
}
.price-loc {
	width: 265px;
	height: 117px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 10px;
}
.rating {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	text-align: center;
	color: #000;
	font-family: Inter;
	font-size: 18px;
	font-weight: 300;
}
.detail-hotel-card h1 {
	color: #000;
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
}
.location {
	color: #626262;
	font-family: Inter;
	font-size: 18px;
	font-weight: 300;
}
.price {
	color: #020202;
	font-family: Inter;
	font-size: 18px;
	font-weight: 300;
}
.price-2 {
	color: #DA1212;
	font-family: Inter;
	font-size: 18px;
	font-weight: 300;
}
footer {
	width: 100%;
	height: 519px;
	display: flex;
	flex-direction: column;
}
.main-footer {
	width: 100%;
	height: 454px;
	display: flex;
	justify-content: space-between;
	padding: 108px 100px;
	background-color: #19224D;
}
.footer-logo {
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	display: flex;
	width: 337px;
	height: 249px;
}
.destination {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 314px;
	height: 266px;
}
.destination h1 {
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 24px;
	font-weight: 600;
}
.destination ul {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
}
.footer-right {
	width: 344px;
	height: 250px;
}
.contact h1 {
	margin-bottom: 30px;
	color: #FFF;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
}
.contact-information {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 23px;
}
.social-media {
	color: #FF5403;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;
}
.icon-footer {
	height: 150px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 15px;
	
}