header {
	position: sticky;
	width: 100%;
	height: 100px;
	padding: 22px 100px;
	display: flex;
	justify-content: space-between;
}
header ul {
	display: flex;
	justify-content: space-between;
	column-gap: 50px;
}
header .logo, nav {
	display: flex;
	align-items: center;
}
header button {
	padding: 13px 50px;
	background-color: #FF5403;
	border: none;
	cursor: pointer;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
}
.banner-container {
	width: 100%;
	height: 77vh;
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	display: flex;
	align-items: center;
}
.banner-text {
	width: 687px;
	height: 261px;
	margin: auto;
	text-align: center;
}
.banner-text h1 {
	color: #FFF;
	font-family: Inter;
	font-size: 96px;
	font-weight: 700;
}
.banner-text p {
	color: #FFF;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 50px;
}
.banner-text button {
	padding: 13px 50px;
	background-color: #FF5403;
	border: none;
	cursor: pointer;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
}
.top-places {
	width: 1312px;
	height: 1182px;
	margin: auto;
}
.images1-2 {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}